.mobile-header-bg-container {
  padding: 10rem 0rem 0rem 0rem;
  width: 100%;
}
.mobile-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.mobile-header-left {
  width: 42%;
}
.mobile-header-sub {
  color: #fff;
  font-size: 2.2rem;
}
.mobile-header-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.mobile-header-p {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
}
.mobile-header-btn {
  height: 50px;
  width: 180px;
  border-radius: 25px;
  border-style: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.mobile-header-btn:hover {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s ease-in-out;
}
.mobile-header-right {
  width: 50%;
  display: flex;
}
.mobile-image1 {
  height: 280px;
}

.mobile-header-part2 {
  text-align: center;
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
}
.mobile-header-part2-heading {
  font-size: 2.4rem;
}
.mobile-header-part2-p {
  font-size: 1.2rem;
  opacity: 85%;
  padding: 20px 100px 20px 100px;
}
.mobile-header-part2-btn {
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
  width: 300px;
  height: 60px;
  margin: 10px 40px 10px 40px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  border-style: none;
}
.mobile-header-part2-btn:hover {
  background-color: #ff5319;
  border-style: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}

/*-----findout more----------------------------------------------------*/
/*-----findout more----------------------------------------------------*/
/*-----findout more----------------------------------------------------*/
.mobile-findout-bg-container {
  width: 100%;
  background-color: #f3f3f3;
  padding: 20px 0px 20px;
}
.mobile-findout-more {
  width: 100%;
  display: flex;
}
.mobile-findout-more-right {
  padding: 40px 0px 0px 40px;
}
.mobile-findout-more-right-sub {
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  padding: 3px 12px 3px 12px;
  font-weight: 500;
}
.mobile-findout-more-right-heading {
  padding: 10px 0px 5px 0px;
  font-size: 2.3rem;
}
.mobile-findout-more-right-p {
  opacity: 80%;
  font-size: 1.1rem;
}
.mobile-findout-more-right-li {
  list-style: none;
  padding: 10px 0px 20px 30px;
  line-height: 30px;
  opacity: 80%;
}
.mobile-findout-more-right-li i {
  color: #ff5319;
}
.mobile-findout-more-right-btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 90%;
  cursor: pointer;
}
.mobile-findout-more-right-btn:hover {
  background-color: #ff5319;
  color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}
.mobile-findout-more-left-image {
  margin-top: 20px;
}

/*-----mobile-lets all banner---------------------------------------------------*/
/*-----mobile-lets all banner---------------------------------------------------*/
/*-----mobile-lets all banner---------------------------------------------------*/

.mobile-lets-all-banner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-lets-all-banner-h2 {
  color: #fff;
  font-size: 1.5rem;
}
.mobile-lets-all-banner-btn {
  width: 260px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}
.mobile-lets-all-banner-btn:hover {
  background-color: #fff;
  color: #ff5319;
  transition: all 0.3s ease;
}

/*-----mobile cards----------------------------------------------------*/
/*-----mobile cards----------------------------------------------------*/
/*-----mobile cards----------------------------------------------------*/

.mobile-cards {
  width: 100%;
  padding: 40px 0px 80px;
}
.mobile-cards-banner {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  width: max-content;
  padding: 2px 20px 2px 20px;
  margin: auto;
  font-size: 1.2rem;
  color: #ff5319;
}
.mobile-cards-heading {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 10px;
}
.mobile-main {
  display: flex;
  justify-content: space-between;
}
.mobile-card:nth-child(even) {
  top: 40px;
}
.mobile-card {
  position: relative;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin: 40px 0px 0px 0px;
  padding: 20px 0px 10px 0px;
}
.mobile-border-card-round {
  width: 200px;
  height: 200px;
  border-radius: 90px;
  border: solid 5px #ff52197c;
  margin: auto;
}
.mobile-card-round {
  margin: 15px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
}
.mobile-card-round i {
  font-size: 5rem;
  display: flex;
  padding-top: 40px;
  opacity: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mobile-card:hover {
  box-shadow: none;
}
.mobile-card:hover i {
  color: #ff4000;
  transition: all 0.3s ease;
}
.mobile-card:hover .mobile-border-card-round {
  border: solid 5px #ff5319;
  transition: all 0.3s ease;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  10% {
    transform: rotate(-45deg);
  }
}
.mobile-border-card-h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px 0px 20px;
  color: #ff5319;
}
.mobile-border-card-p {
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 0.9rem;
}

/*-----mobile-mastery-tools----------------------------------------------------*/
/*-----mobile-mastery-tools----------------------------------------------------*/
/*-----mobile-mastery-tools----------------------------------------------------*/
.mobile-mastery-bg-container {
  width: 100%;
  background-color: rgb(240, 238, 238);
  padding: 80px 0px 20px;
}
.mobile-mastery-tools {
  width: 100%;
  overflow: hidden;
}
.mobile-mastery-tool-up .mobile-mastery-tool-sub {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  width: max-content;
  padding: 2px 20px 2px 20px;
  margin: auto;
  font-size: 1.2rem;
  color: #ff5319;
}
.mobile-mastery-tool-heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 10px;
}
.mobile-mastery-tool-p {
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  font-size: 1.3rem;
}
.mobile-tools-logo {
  position: relative;
  margin: 20px 0px 40px 145px;
}
.mobile-mastery-tool-bottom {
  width: 1100px;
  display: flex;
  margin: auto;
}
@media only screen and (max-width: 4100px) {
  .mobile-header,
  .mobile-header-part2,
  .mobile-findout-more,
  .mobile-lets-all-banner,
  .mobile-cards,
  .mobile-mastery-tools {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1600px) {
  .mobile-header,
  .mobile-header-part2,
  .mobile-findout-more,
  .mobile-lets-all-banner,
  .mobile-cards,
  .mobile-mastery-tools {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1280px) {
  .mobile-header-part2,
  .mobile-findout-more,
  .mobile-lets-all-banner,
  .mobile-cards {
    width: 100%;
  }
  .mobile-mastery-tools {
    width: 100%;
  }
  .mobile-header-left {
    width: 35%;
  }
  .mobile-header {
    margin: 20px;
    width: 98%;
  }
  .mobile-header-part2 {
    width: 98%;
  }
  .mobile-header-part2-btn {
    width: 280px;
    height: 60px;
    margin: 10px 10px 10px 10px;
  }
  /*-----explore more---------------------*/
  .mobile-findout-more {
    padding: 20px;
    display: flex;
  }
  /*-----mobile-lets all banner-------------------*/
  .mobile-lets-all-banner {
    padding: 30px;
  }
  /*-----mobile cards----------------------*/
  .mobile-cards {
    padding: 20px 20px 80px 20px;
  }
  .mobile-card {
    width: 250px;
  }
  .mobile-border-round {
    width: 180px;
    height: 180px;
    border-radius: 80px;
  }
  .mobile-round {
    width: 140px;
    height: 140px;
  }
  .mobile-round i {
    font-size: 4rem;
    padding-top: 35px;
  }

  /*-----mastery-tools-------------*/
  .mobile-tools-logo {
    margin: 20px 20px 40px 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .mobile-header-left {
    width: 50%;
  }
  .mobile-image1 {
    height: 180px;
    margin-top: 110px;
  }
  .mobile-image2 {
    height: 240px;
    margin-top: 50px;
  }
  .mobile-image3 {
    height: 180px;
  }
  .mobile-card {
    width: 220px;
  }
  .mobile-lets-all-banner {
    padding: 40px;
  }
  .mobile-tools-logo {
    margin: 20px 20px 40px 80px;
  }
  .mobile-mastery-tool-bottom {
    width: 720px;
  }
}
@media only screen and (max-width: 835px) {
  .mobile-header {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .mobile-header-right {
    width: 75%;
    margin: auto;
  }
  .mobile-header-left {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
  }
  .mobile-image1 {
    width: 580px;
    height: 220px;
    margin-top: -40px;
  }
  .mobile-image2 {
    z-index: 1;
    margin-top: -80px;
    left: 100px;
  }
  .mobile-image3 {
    top: 400px;
    width: 300px;
    height: 180px;
    border-bottom-right-radius: 20px;
  }
  .mobile-header-part2 {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: hsl(0, 0%, 95%);
  }
  .mobile-header-part2-p {
    padding: 10px;
    font-size: 1.2rem;
  }
  .mobile-header-part2-btn {
    padding: 10px 20px 10px 20px;
    font-size: 1.1rem;
    width: 240px;
    height: 60px;
    margin: 20px 10px 10px 10px;
    justify-content: space-between;
  }
  /*-----findout more---------------------*/
  .mobile-findout-more {
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .mobile-findout-more-right {
    padding: 40px 0px 0px 0px;
    text-align: center;
  }
  .mobile-findout-more-right-p {
    font-size: 1.2rem;
  }
  .mobile-findout-more-right-li {
    text-align: start;
    margin-left: 150px;
  }
  .mobile-findout-more-right-btn {
    width: 90%;
  }
  .mobile-findout-more-left-image {
    height: 500px;
    margin: auto;
    display: block;
  }
  /*-----mobile-lets all banner-------------------*/
  .mobile-lets-all-banner {
    padding: 20px;
    height: 160px;
  }
  .mobile-lets-all-banner-h2 {
    width: 80%;
  }
  /*-----mobile cards----------------------*/
  .mobile-cards {
    padding: 20px;
  }
  .mobile-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .mobile-card:nth-child(even) {
    top: 0px;
  }
  .mobile-card {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    width: 99%;
  }
  .mobile-border-card-h2 {
    font-size: 1.4rem;
    padding: 20px 0px 0px 20px;
    color: #ff5319;
  }
  .mobile-border-card-p {
    font-size: 1.2rem;
  }
  /*-----mastery-tools-------------*/
  .mobile-tools-logo {
    margin: 20px 20px 20px 46px;
  }
  .mobile-mastery-tool-bottom {
    width: 550px;
  }
  .mobile-mastery-tool-up {
    width: 100%;
    padding: 10px 0px 0px 0px;
  }
}
@media only screen and (max-width: 428px) {
  .mobile-image1 {
    width: 100%;
    height: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -10px;
    margin-bottom: -70px;
  }
  .mobile-header-part2 {
    padding: 100px 5px 40px 5px;
  }
  /*-----findout more---------------------*/
  .mobile-findout-more-left-image {
    margin-top: 20px;
    height: 220px;
  }
  .mobile-findout-more-right {
    padding: 20px 0px 0px 0px;
  }
  .mobile-findout-more-right-li {
    margin-left: -20px;
    font-size: 1rem;
  }
  .mobile-findout-more-right-p {
    opacity: 90%;
    font-size: 1.2rem;
  }
  /*-----mobile-lets all banner-------------------*/
  .mobile-lets-all-banner {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 5px 20px 5px;
  }
  .mobile-lets-all-banner-btn {
    margin-top: 10px;
  }
  /*-----mobile cards----------------------*/
  .mobile-cards {
    padding: 40px 5px 20px 5px;
    background-color: #062746;
  }
  .mobile-cards-heading {
    color: #fff;
  }
  .mobile-main {
    padding: 10px;
  }
  .mobile-card {
    padding: 20px 5px 10px 5px;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
  }
  .mobile-border-card-p {
    color: #f3f3f3;
  }
  .mobile-cards-banner {
    font-size: 1.2rem;
  }

  /*-----mobile-mastery-tools-------------*/
  .mobile-mastery-tools {
    padding: 20px 20px 20px 20px;
  }
  .mobile-tools-logo {
    margin: 20px 5px 20px 30px;
  }
  .mobile-mastery-tool-bottom {
    width: 100%;
  }
  .mobile-mastery-tool-logos {
    height: 50px;
    width: 50px;
  }
}
