.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.footer-sub-container,
.footer-links-container,
.bottom-part-container {
  width: 100%;
}
.footer-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100px;
}

.footer-sub-heading {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-sub-text {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.sub-text-1st {
  font-size: 1.2rem;
  padding-left: 30px;
}
.footer-sub-text .telephone {
  cursor: pointer;
}
.footer-sub-text .telephone:hover {
  color: blue;
  transition: all 0.3s ease-in;
}

.footer-links {
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  color: #fff;
  width: 100%;
  justify-content: space-around;
}

.footer-link {
  border-radius: 10px;
  border-right-style: solid;
  border-right-color: rgb(122, 122, 122);
  width: 80%;
  height: 260px;
  padding: 25px;
  list-style: none;
}

.footer-links li {
  cursor: pointer;
  font-size: 0.9rem;
  padding-bottom: 15px;
  padding-left: 10px;
}
.footer-links li:hover {
  color: #ff6600;
}

.footer-link .services {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.footer-link .comp {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.last-coloum .parag {
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.last-coloum {
  padding: 20px;
  list-style: none;
  width: 90%;
  border-radius: 10px;
  border-right-style: solid;
  border-right-color: rgb(122, 122, 122);
}

.last-coloum .footer-talk {
  height: 60px;
  width: 220px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  border-style: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.footer-talk:hover {
  background-color: #ff6600;
  color: #fff;
  transform: scale(0.95);
  transition: all 0.2s ease-out;
}

/* Social Icons */

.social-media {
  display: flex;
  margin-top: 30px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media .social-box {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border-color: rgb(0, 0, 0);
  margin: 0px 20px 0px 0px;
}

.social-icons i {
  padding: 14px 0px 0px 5px;
  color: #000000;
  display: inline-block;
}
.social-box .social-layer {
  padding: 8px 0px 0px 14px;
  position: absolute;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  background: #ff6600;
  transition: 0.5s;
  cursor: pointer;
}
.social-box:hover .social-layer {
  top: 0;
}

.social-layer i {
  color: #fff;
}
.bottom-part-container {
  background-color: #001a33;
  width: 100%;
}
.bottom-part {
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.terms-privacy {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}
.terms-privacy p {
  padding-right: 60px;
  cursor: pointer;
}
@media only screen and (max-width: 4100px) {
  .footer-sub,
  .footer-links,
  .bottom-part {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1600px) {
  .footer-sub,
  .footer-links,
  .bottom-part {
    width: 1180px;
    margin: auto;
  }
}
@media only screen and (max-width: 1280px) {
  .footer-sub,
  .footer-links,
  .bottom-part {
    width: 100%;
    margin: auto;
  }
  .footer-sub {
    padding: 0px 1.5rem 0px 1.5rem;
  }
  .bottom-part {
    padding: 0rem 7rem 0rem 1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-sub,
  .footer-links,
  .bottom-part {
    margin: auto;
  }
}
@media only screen and (max-width: 835px) {
  .footer-sub {
    padding: 0px 0.5rem 0px 0.5rem;
  }
  .bottom-part {
    padding: 0rem 14rem 0rem 0.5rem;
  }
  .footer-sub-heading {
    font-size: 2rem;
  }
  .footer-links {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }
  .footer-links li {
    font-size: 0.8rem;
  }
  .footer-link .services {
    width: 210px;
  }
  .social-media .social-box {
    margin: 0px 10px 0px 0px;
  }
  .bottom-part {
    font-size: 0.8rem;
  }
  .terms-privacy {
    margin: 0px;
  }
  .terms-privacy p {
    padding: 0px 10px 0px 10px;
    border-left-style: solid;
    border-left-color: rgb(122, 122, 122);
    border-radius: 8px;
  }
}
@media only screen and (max-width: 650px) {
  .footer-sub {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding-bottom: 10px;
  }
  .footer-sub-heading {
    margin: auto;
    font-size: 1rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
  }
  .footer-link {
    border-left-style: solid;
    border-left-color: rgb(122, 122, 122);
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .last-coloum {
    border-left-style: solid;
    border-left-color: rgb(122, 122, 122);
    margin-left: 30px;
    text-align: center;
    padding: 10px;
  }
  .social-media {
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    justify-content: space-around;
  }
  .last-coloum {
    margin: auto;
  }
  .bottom-part {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .terms-privacy p {
    border-style: none;
    justify-content: space-between;
    padding: 0px 60px 0px 50px;
    font-size: 0.6rem;
  }
}
