.graphic-header-bg-container {
  width: 100%;
  align-items: center;
  overflow: hidden;
}
.graphic-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10rem 0rem 6rem 2rem;
  position: relative;
}
.graphic-header-left {
  width: 40%;
}
.graphic-header-sub {
  color: #fff;
  font-size: 2.2rem;
}
.graphic-header-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.graphic-header-p {
  margin-top: 10px;
  color: #fff;
  font-size: 1.2rem;
}
.graphic-header-btn {
  height: 50px;
  width: 180px;
  border-radius: 25px;
  border-style: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.graphic-header-btn:hover {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s ease-in-out;
}
.graphic-header-right {
  width: 65%;
}
.graphic-image1 {
  position: absolute;
  border-top-left-radius: 30px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.75);
  margin-top: 40px;
}
.graphic-header-right .graphic-image2 {
  position: absolute;
  z-index: 1;
  margin-left: 140px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.75);
}
.graphic-header-right .graphic-image3 {
  position: absolute;
  bottom: 0px;
  margin-left: 280px;
  border-top-right-radius: 20px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.75);
}
.graphic-header-part2 {
  text-align: center;
  margin: auto;
  padding: 2rem 0rem 2rem 0rem;
  width: 100%;
}
.graphic-header-part2-heading {
  font-size: 2.6rem;
}
.graphic-header-part2-p {
  font-size: 1.1rem;
  padding: 1rem 0rem 1rem 0rem;
  margin: auto;
  width: 90%;
}
.graphic-header-part2-btn {
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
  width: 300px;
  height: 60px;
  margin: 10px 40px 10px 40px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  border-style: none;
}
.graphic-header-part2-btn:hover {
  background-color: #ff5319;
  border-style: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}
/*-----graphic-lets all banner---------------------------------------------------*/
/*-----graphic-lets all banner---------------------------------------------------*/
/*-----graphic-lets all banner---------------------------------------------------*/
.graphic-lets-bg-container {
  width: 100%;
}
.graphic-lets-all-banner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graphic-lets-all-banner-h2 {
  color: #fff;
  font-size: 1.5rem;
}
.graphic-lets-all-banner-btn {
  width: 260px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}
.graphic-lets-all-banner-btn:hover {
  background-color: #fff;
  color: #ff5319;
  transition: all 0.3s ease;
}
/*-----explore more----------------------------------------------------*/
/*-----explore more----------------------------------------------------*/
/*-----explore more----------------------------------------------------*/
.graphic-explore-bg-container {
  width: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
}
.graphic-exlore-more {
  width: 100%;
  display: flex;
}
.graphic-exlore-more-left-image {
  padding: 40px 0px 0px 0px;
}
.graphic-exlore-more-right {
  padding: 60px 0px 40px 60px;
}
.graphic-exlore-more-right-sub {
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  padding: 3px 12px 3px 12px;
  font-weight: 500;
}
.graphic-exlore-more-right-heading {
  padding: 20px 0px 10px 0px;
  font-size: 2.6rem;
}
.graphic-exlore-more-right-p {
  opacity: 80%;
  font-size: 1.1rem;
}
.graphic-exlore-more-right-li {
  list-style: none;
  padding: 10px 0px 20px 30px;
  line-height: 30px;
  opacity: 80%;
}
.graphic-exlore-more-right-li i {
  color: #ff5319;
}
.graphic-exlore-more-right-btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 90%;
  cursor: pointer;
}
.graphic-exlore-more-right-btn:hover {
  background-color: #ff5319;
  color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

/*-----graphic cards----------------------------------------------------*/
/*-----graphic cards----------------------------------------------------*/
/*-----graphic cards----------------------------------------------------*/

.graphic-cards {
  width: 100%;
  padding: 4rem 0rem 5rem;
}
.graphic-cards-banner {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  width: max-content;
  padding: 2px 20px 2px 20px;
  margin: auto;
  font-size: 1.2rem;
  color: #ff5319;
}
.graphic-cards-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 10px;
}
.graphic-main {
  display: flex;
  justify-content: space-between;
}
.graphic-card:nth-child(even) {
  top: 40px;
}
.graphic-card {
  position: relative;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin: 40px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.graphic-border-round {
  width: 200px;
  height: 200px;
  border-radius: 90px;
  border: solid 5px #ff52197c;
  margin: auto;
}
.graphic-round {
  margin: 15px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
}
.graphic-round i {
  font-size: 5rem;
  display: flex;
  padding-top: 40px;
  opacity: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.graphic-card:hover {
  box-shadow: none;
}
.graphic-card:hover i {
  color: #ff4000;
  transition: all 0.3s ease;
}
.graphic-card:hover .graphic-border-round {
  border: solid 5px #ff5319;
  transition: all 0.3s ease;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  10% {
    transform: rotate(-45deg);
  }
}
.graphic-border-card-h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px 0px 20px;
  color: #ff5319;
}
.graphic-border-card-p {
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 0.9rem;
}

/*-----graphic-recent works----------------------------------*/
/*-----graphic-recent works----------------------------------*/
/*-----graphic-recent works----------------------------------*/
.graphic-recent-bg-container {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
}
.graphic-recent-works {
  width: 100%;
  padding: 4rem 0rem 5rem;
}
.graphic-recent-works-sub {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  width: max-content;
  padding: 2px 20px 2px 20px;
  margin: auto;
  font-size: 1.2rem;
}
.graphic-recent-works-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 20px;
}
.graphic-images-slider1 {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
div.swiper-button-prev,
div.swiper-button-next {
  color: rgb(8, 8, 8);
  background-color: rgba(255, 255, 255, 0.253);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-weight: bold;
  transform: scale(0.8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
div.swiper-button-prev:hover,
div.swiper-button-next:hover {
  color: #ffffff;
  background-color: #062746;
  transition: all 0.3s;
}
.graphic-recent-work-image {
  height: 280px;
  width: 280px;
  border-radius: 15px;
}
.graphic-works {
  position: relative;
  margin-left: 160px;
}

/*-----mastery-tools----------------------------------------------------*/
/*-----mastery-tools----------------------------------------------------*/
/*-----mastery-tools----------------------------------------------------*/
.graphic-mastery-tools {
  padding: 60px 0px 40px 0px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.graphic-mastery-tool-up .graphic-mastery-tool-sub {
  text-transform: uppercase;
  border: solid 3px #ee5522d2;
  border-radius: 5px;
  width: max-content;
  padding: 2px 20px 2px 20px;
  margin: auto;
  font-size: 1.2rem;
}
.graphic-mastery-tool-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 10px;
}
.graphic-mastery-tool-p {
  text-align: center;
  padding: 10px 100px 10px 100px;
  font-size: 1rem;
  font-size: 1.2rem;
}
.graphic-tools-logo {
  position: relative;
  margin: 20px 0px 40px 145px;
}
.graphic-mastery-tool-bottom {
  width: 1100px;
  display: flex;
  margin: auto;
}
.graphic-mastery-tool-logos {
  height: 80px;
  width: 80px;
}

@media only screen and (max-width: 4100px) {
  .graphic-header,
  .graphic-header-part2,
  .graphic-exlore-more,
  .graphic-lets-all-banner,
  .graphic-cards,
  .graphic-recent-works {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1600px) {
  .graphic-header,
  .graphic-header-part2,
  .graphic-exlore-more,
  .graphic-lets-all-banner,
  .graphic-cards,
  .graphic-recent-works {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1280px) {
  .graphic-header,
  .graphic-header-part2,
  .graphic-exlore-more,
  .graphic-lets-all-banner,
  .graphic-cards {
    width: 100%;
  }
  .graphic-header-right .graphic-image3 {
    margin-left: 240px;
  }
  .graphic-header-part2 {
    width: 98%;
  }
  .graphic-header-part2-btn {
    width: 280px;
    height: 60px;
    margin: 10px 10px 10px 10px;
  }
  /*-----explore more---------------------*/
  .graphic-exlore-more {
    padding: 20px;
    display: flex;
  }
  /*-----graphic-lets all banner-------------------*/
  .graphic-lets-all-banner {
    padding: 30px;
  }
  /*-----graphic cards----------------------*/
  .graphic-cards {
    padding: 20px 20px 80px 20px;
  }
  .graphic-card {
    width: 250px;
  }
  .graphic-border-round {
    width: 180px;
    height: 180px;
    border-radius: 80px;
  }
  .graphic-round {
    width: 140px;
    height: 140px;
  }
  .graphic-round i {
    font-size: 4rem;
    padding-top: 35px;
  }
  /*-----graphic-recent works--------------*/
  .graphic-recent-work-image {
    height: 260px;
    width: 260px;
    border-radius: 15px;
  }
  .graphic-works {
    margin-left: 170px;
  }
  /*-----mastery-tools-------------*/
  .graphic-tools-logo {
    margin: 20px 20px 40px 100px;
  }
  .graphic-mastery-tool-bottom {
    width: 900px;
  }
}
@media only screen and (max-width: 1024px) {
  .graphic-header-left {
    width: 50%;
  }
  .graphic-image1 {
    height: 180px;
    margin-top: 110px;
  }
  .graphic-image2 {
    height: 240px;
    margin-top: 50px;
  }
  .graphic-image3 {
    height: 180px;
  }
  .graphic-card {
    width: 220px;
  }
  .graphic-recent-work-image {
    height: 210px;
    width: 210px;
  }
  .graphic-recent-works {
    padding: 40px 20px 40px 20px;
    width: 100%;
  }
  .graphic-works {
    margin-left: 140px;
  }
  .graphic-lets-all-banner {
    padding: 40px;
  }
  .graphic-tools-logo {
    margin: 20px 20px 40px 80px;
  }
  .graphic-mastery-tool-bottom {
    width: 720px;
  }
}
@media only screen and (max-width: 835px) {
  .graphic-header {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .graphic-header-right {
    width: 75%;
    margin: auto;
  }
  .graphic-header-left {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
  }
  .graphic-image1 {
    width: 260px;
    height: 160px;
    margin-top: -40px;
  }
  .graphic-image2 {
    z-index: 1;
    margin-top: -80px;
    left: 100px;
  }
  .graphic-image3 {
    top: 400px;
    width: 300px;
    height: 180px;
    border-bottom-right-radius: 20px;
  }
  .graphic-header-part2 {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: hsl(0, 0%, 95%);
  }
  .graphic-header-part2-p {
    padding: 10px;
    font-size: 1.2rem;
  }
  .graphic-header-part2-btn {
    padding: 10px 20px 10px 20px;
    font-size: 1.1rem;
    width: 240px;
    height: 60px;
    margin: 20px 10px 10px 10px;
    justify-content: space-between;
  }
  /*-----explore more---------------------*/
  .graphic-exlore-more {
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column-reverse;
  }
  .graphic-exlore-more-right {
    padding: 40px 0px 0px 0px;
    text-align: center;
  }
  .graphic-exlore-more-right-p {
    font-size: 1.2rem;
  }
  .graphic-exlore-more-right-li {
    text-align: start;
    margin-left: 150px;
  }
  .graphic-exlore-more-right-btn {
    width: 90%;
  }
  .graphic-exlore-more-left-image {
    height: 700px;
    padding-left: 60px;
  }
  /*-----graphic-lets all banner-------------------*/
  .graphic-lets-all-banner {
    padding: 20px;
  }
  .graphic-lets-all-banner-h2 {
    width: 60%;
  }
  /*-----graphic cards----------------------*/
  .graphic-cards {
    padding: 20px;
  }
  .graphic-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .graphic-card:nth-child(even) {
    top: 0px;
  }
  .graphic-card {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    width: 99%;
  }
  .graphic-border-card-h2 {
    font-size: 1.4rem;
    padding: 20px 0px 0px 20px;
    color: #ff5319;
  }
  .graphic-border-card-p {
    font-size: 1.2rem;
  }

  /*-----graphic-recent works--------------*/
  .graphic-recent-works {
    width: 100%;
  }
  .graphic-recent-work-image {
    height: 180px;
    width: 180px;
  }
  .graphic-works {
    margin-left: 105px;
  }
  div.swiper-button-prev,
  div.swiper-button-next {
    display: none;
  }
  /*-----mastery-tools-------------*/
  .graphic-tools-logo {
    margin: 20px 20px 20px 46px;
  }
  .graphic-mastery-tool-bottom {
    width: 550px;
  }
  .graphic-mastery-tool-up {
    width: 100%;
    padding: 10px 0px 0px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .graphic-header-part2-btn {
    padding: 10px 10px 10px 10px;
    font-size: 1.1rem;
    width: 220px;
  }
  /*-----explore more---------------------*/
  .graphic-exlore-more-right {
    padding: 40px 0px 0px 0px;
    text-align: center;
  }
  .graphic-exlore-more-right-btn {
    width: 95%;
  }
  .graphic-exlore-more-left {
    width: 80%;
    margin: auto;
    align-items: center;
  }
  .graphic-exlore-more-left-image {
    height: 500px;
  }
  /*-----graphic-lets all banner-------------------*/
  .graphic-lets-all-banner {
    padding: 30px 20px 30px 20px;
  }
  .graphic-lets-all-banner-h2 {
    width: 60%;
  }
  /*-----graphic cards----------------------*/
  .graphic-cards {
    padding: 40px 0px 10px 0px;
  }
  /*-----graphic-recent works--------------*/
  .graphic-works {
    margin-left: 90px;
  }
  /*-----mastery-tools-------------*/
  .graphic-tools-logo {
    margin: 20px 20px 20px 43px;
  }
  .graphic-mastery-tool-bottom {
    width: 500px;
  }
  .graphic-mastery-tool-p {
    padding: 0;
  }
}
@media only screen and (max-width: 428px) {
  .graphic-image2,
  .graphic-image3,
  .graphic-image1 {
    display: none;
  }
  .graphic-header {
    margin: auto;
    padding: 10rem 0rem 0rem 0rem;
    width: 100%;
  }
  .graphic-header-part2 {
    padding: 40px 5px 0px 5px;
  }
  .graphic-header-part2-p {
    padding: 10px 10px 10px 10px;
  }
  .graphic-header-part2-btn {
    width: 90%;
  }
  /*-----explore more---------------------*/
  .graphic-exlore-more-left-image {
    height: 250px;
  }
  .graphic-exlore-more-right {
    padding: 60px 10px 0px 10px;
  }
  .graphic-exlore-more-right-li {
    margin-left: 0px;
  }
  .graphic-exlore-more-right-p {
    opacity: 90%;
    font-size: 1.2rem;
  }
  /*-----graphic-lets all banner-------------------*/
  .graphic-lets-all-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
  }
  .graphic-lets-all-banner-h2 {
    width: 100%;
  }
  .graphic-lets-all-banner-btn {
    margin-top: 20px;
  }
  /*-----graphic cards----------------------*/
  .graphic-cards {
    padding: 40px 5px 20px 5px;
    background-color: #062746;
  }
  .graphic-cards-heading {
    color: #fff;
  }
  .graphic-main {
    padding: 10px;
  }
  .graphic-card {
    padding: 20px 5px 10px 5px;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
  }
  .graphic-border-card-p {
    color: #f3f3f3;
  }
  /*-----graphic-recent works--------------*/
  .graphic-recent-works {
    padding: 40px 10px 40px 10px;
  }
  .graphic-recent-work-image {
    height: 90px;
    width: 90px;
  }
  .graphic-works {
    margin-left: 55px;
  }
  .graphic-recent-works-heading {
    padding: 0px 10px 0px 10px;
  }
  /*-----mastery-tools-------------*/
  .graphic-mastery-tools {
    padding: 20px 20px 20px 20px;
  }
  .graphic-mastery-tool-p {
    padding: 10px 0px 10px 0px;
  }
  .graphic-tools-logo {
    margin: 20px 5px 20px 35px;
  }
  .graphic-mastery-tool-bottom {
    width: 100%;
  }
  .graphic-mastery-tool-logos {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 391px) {
  /*-----explore more---------------------*/
  .graphic-exlore-more-left-image {
    height: 280px;
    padding-left: 40px;
  }
  .graphic-works {
    margin-left: 48px;
  }
}
@media only screen and (max-width: 361px) {
  /*-----explore more---------------------*/
  .graphic-exlore-more-left-image {
    height: 280px;
    padding-left: 20px;
  }
  .graphic-recent-work-image {
    height: 80px;
    width: 80px;
  }
  .graphic-works {
    margin-left: 45px;
  }
  .graphic-tools-logo {
    margin: 20px 5px 20px 28px;
  }
}
