.contact {
  display: flex;
  flex-direction: row;
  padding: 140px 180px 40px 180px;
  justify-content: space-between;
  background-image: url(https://infonits.io/storage/2022/09/bg-1-e1663058147364.webp);
}
.contact-right {
  width: 40%;
  padding: 80px 0px 100px 0px;
}
.contact-right-sub {
  text-align: center;
  text-transform: uppercase;
  border: solid 3px;
  border-radius: 5px;
  width: max-content;
  padding: 2px 20px 2px 20px;
  font-size: 1.2rem;
  color: #fff;
  opacity: 90%;
}
.contact-right-heading {
  font-size: 2.5rem;
  color: #fff;
  padding: 40px 0px 20px 0px;
  opacity: 100%;
}
.contact-right-p {
  color: #fff;
  font-size: 1.2rem;
  opacity: 90%;
  line-height: 30px;
  margin-bottom: 20px;
}
.contact-right-social-icons {
  font-size: 2rem;
  margin: auto;
}
.contact-right-social-icons i {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 40px 20px 0px 0px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  cursor: pointer;
}
.contact-right-social-icons .fb {
  background-color: rgb(50, 50, 255);
}
.contact-right-social-icons .insta {
  background-color: rgb(189, 1, 189);
}
.contact-right-social-icons .twitt {
  background-color: rgb(34, 170, 255);
}
.contact-right-social-icons .yt {
  background-color: red;
}
.contact-right-social-icons .fa:hover {
  background-color: #fff;
  transition: all 0.3s;
  transform: scale(0.95);
}
.contact-right-social-icons .fb:hover {
  color: rgb(50, 50, 255);
}
.contact-right-social-icons .insta:hover {
  color: rgb(189, 1, 189);
}
.contact-right-social-icons .twitt:hover {
  color: rgb(34, 170, 255);
}
.contact-right-social-icons .yt:hover {
  color: red;
}
.contact-left {
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 40px 40px 40px;
}
.form input {
  display: flex;
  flex-direction: row;
}
#form {
  width: 100%;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: solid 1px;
}
#mssg {
  width: 100%;
  height: 100px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: solid 1px;
}
.contact-submit-btn {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
/*-----------contact card--------------*/
.contact-card-whole {
  padding: 60px 160px 60px 160px;
  background-color: #0a1928;
}
.contact-countries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-country {
  text-align: center;
}
.contact-country-title {
  color: #fff;
  font-size: 2.5rem;
}
.contact-cards {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-cards .contact-card-box {
  display: inline-block;
  width: 570px;
  height: 100px;
  position: relative;
  overflow: hidden;
  background-color: #1f2736;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.contact-card-box .layer {
  z-index: 1;
  position: absolute;
  right: calc(100% - 4px);
  height: 100%;
  width: 100%;
  top: 0;
  background: #ff5f35;
  transition: 0.5s;
}
.contact-card {
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 15px 0px 0px 20px;
  align-items: center;
  position: relative;
}

.contact-card-box:hover .layer {
  right: 0;
}
.contact-card .contact-card-title {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}
.contact-card-info {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 10px;
}
.contact-card i {
  font-size: 1.5rem;
}
.contact-card-information {
  padding-left: 20px;
  text-align: start;
}
@media only screen and (max-width: 1280px) {
  .contact {
    padding: 140px 50px 20px 50px;
  }
  .contact-left {
    padding: 30px 40px 40px 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact {
    padding: 140px 50px 20px 50px;
  }
  .contact-left {
    padding: 30px 40px 40px 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    padding: 140px 20px 20px 20px;
  }
  .contact-right {
    width: 80%;
    text-align: center;
    padding: 0px 20px 0px 10px;
  }
  .contact-right-heading {
    font-size: 2.2srem;
  }

  .contact-left {
    width: 100%;
    border-radius: 10px;
    padding: 30px 40px 20px 40px;
    margin-top: -40px;
  }
  .contact-cards .contact-card-box {
    width: 490px;
  }
}

@media only screen and (max-width: 835px) {
  .contact {
    display: flex;
    flex-direction: column;
    padding: 120px 10px 20px 10px;
    justify-content: space-around;
  }
  .contact-right {
    width: 100%;
    padding-bottom: 80px;
  }

  .contact-right-heading {
    font-size: 2rem;
  }

  .contact-left {
    width: 100%;
    border-radius: 10px;
    padding: 30px 40px 20px 40px;
    margin-top: -40px;
  }

  .contact-card-whole {
    padding: 40px 20px 40px 20px;
  }

  .contact-cards .contact-card-box {
    width: 400px;
  }

  .contact-card-info {
    font-weight: 300;
    font-size: 1rem;
    padding-top: 5px;
    opacity: 500%;
  }
}
@media only screen and (max-width: 768px) {
  .contact-left {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }
  .contact-cards .contact-card-box {
    width: 370px;
  }
  .contact-card-info {
    font-weight: 280;
  }
}

@media only screen and (max-width: 428px) {
  .contact-countries {
    display: flex;
    flex-direction: column;
  }
  .contact-cards .contact-card-box {
    width: 100%;
    height: 100px;
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 391px) {
  .contact-countries {
    display: flex;
    flex-direction: column;
  }
  .contact-cards .contact-card-box {
    width: 100%;
    height: 100px;
    padding: 0px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .contact-right-heading {
    font-size: 1.7rem;
  }
}
