.our-team {
  background-color: aliceblue;
  margin-bottom: 20px;
}
.team-profile {
  padding: 80px 0px 0px 0px;
}
.ourteamimg {
  width: 100%;
}
.meet-head {
  padding: 60px 200px 0px 200px;
}
.meet-head h4 {
  font-size: 1.1rem;
  border-width: 2px;
  border-style: solid;
  color: #e6440e;
  width: 280px;
  letter-spacing: 2px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  margin: auto;
}
.meet-head h1 {
  text-align: center;
  font-size: 3rem;
  padding: 10px 0px 8px 0px;
}
.meet-head p {
  text-align: center;
  font-size: 1.1rem;
  opacity: 85%;
}
.team-rows {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.team-card {
  width: 360px;
  height: 440px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  margin: 20px;
}
.team-card-imgs {
  width: 340px;
  position: absolute;
  right: 10px;
  align-items: center;
  padding: 20px 10px 10px 10px;
  opacity: 75%;
}
.team-card:hover .team-card-imgs {
  opacity: 100%;
  transition: all 0.4s;
}
.name-card {
  width: 360px;
  height: 100px;
  position: absolute;
  background: rgb(255, 255, 255);
  top: 340px;
  border-bottom-left-radius: 25px;
}
.team-card-h3 {
  font-size: 1.5rem;
  color: #000000;
  position: absolute;
  top: 20px;
  left: 30px;
}
.team-card-h5 {
  font-size: 1.1rem;
  color: rgb(88, 88, 88);
  position: absolute;
  top: 50px;
  left: 30px;
  opacity: 80%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 0;
  background-color: #ff6633;
  overflow: hidden;
  width: 320px;
  height: 0px;
  transition: 0.5s ease;
}

.team-card:hover .overlay {
  height: 35%;
}
.social-links {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.social-links i {
  cursor: pointer;
}
.team-card .card-icon {
  left: 300px;
  top: 380px;
  position: absolute;
  font-size: 3rem;
  color: rgba(105, 105, 105, 0.451);
}
.team-card:hover .card-icon {
  opacity: 100%;
  color: #ff6633;
  transition: all 0.3s;
}
@media only screen and (max-width: 1280px) {
  .team {
    padding: 10px 30px 20px 30px;
  }
  .team-rows {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1024px) {
  .meet-head {
    padding: 60px 40px 0px 40px;
  }
  .team-card {
    width: 340px;
    height: 340px;
    overflow: hidden;
  }
  .team-card-imgs {
    width: 260px;
  }
  .name-card {
    width: 280px;
    top: 240px;
  }
  .overlay {
    left: 22px;
    right: 0;
    width: 240px;
  }
  .team-card:hover .overlay {
    height: 45%;
  }
  .team-card .card-icon {
    left: 250px;
    top: 310px;
    position: absolute;
    font-size: 2.5rem;
    color: rgba(105, 105, 105, 0.451);
  }
}
/*-----------responsive-------*/
@media only screen and (max-width: 835px) {
  .meet-head {
    padding: 40px 20px 10px 20px;
  }
  .team-card {
    height: 300px;
    width: 240px;
    overflow: hidden;
    margin: 5px;
  }
  .team-card-imgs {
    width: 220px;
  }
  .name-card {
    width: 238px;
    top: 220px;
    height: 80px;
  }
  .overlay {
    position: absolute;
    left: 18px;
    width: 200px;
  }
  .team-card:hover .overlay {
    height: 40%;
  }
  .team-card-h3 {
    font-size: 1.2rem;
    left: 10px;
  }
  .team-card-h5 {
    font-size: 0.8rem;
    left: 10px;
    opacity: 90%;
  }
  .team-card .card-icon {
    left: 195px;
    top: 280px;
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .team-card-imgs {
    width: 205px;
  }
  .team-card .card-icon {
    left: 190px;
  }
  .team-card {
    margin: 5px;
  }
}
@media only screen and (max-width: 428px) {
  .meet-head {
    padding: 40px 10px 10px 10px;
  }
  .team-rows {
    display: flex;
    flex-direction: column;
  }
  .team-card {
    height: 420px;
    width: 100%;
  }
  .team-card-imgs {
    width: 350px;
  }
  .name-card {
    width: 100%;
    top: 320px;
    height: 100px;
  }
  .overlay {
    left: 18px;
    width: 330px;
    height: 150px;
  }
  .team-card:hover .overlay {
    height: 40%;
  }
  .team-card-h3 {
    font-size: 1.5rem;
    left: 20px;
  }
  .team-card-h5 {
    font-size: 1.2rem;
    left: 20px;
  }
  .team-card .card-icon {
    left: 290px;
    top: 350px;
    font-size: 3.5rem;
    color: #ff6633;
  }
}
@media only screen and (max-width: 391px) {
  .team-card-imgs {
    width: 310px;
    opacity: 100%;
  }
  .overlay {
    left: 20px;
    width: 292px;
  }
  .team-card .card-icon {
    left: 290px;
    top: 380px;
    font-size: 3.5rem;
    color: #ff6633;
  }
}
@media only screen and (max-width: 361px) {
  .team-card-imgs {
    width: 280px;
    opacity: 100%;
  }
  .overlay {
    left: 20px;
    width: 260px;
  }
  .team-card .card-icon {
    left: 270px;
    top: 380px;
    font-size: 3.5rem;
    color: #ff6633;
  }
}
