.testimonials {
  width: 100%;
  padding: 4rem;
  overflow: hidden;
}
.section-head {
  display: flex;
  justify-content: space-between;
}
.test-head-left {
  width: 45%;
}
.test-sub {
  font-size: 1.2rem;
  background: none;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  width: 200px;
  height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 6px;
}
.test-head-left .test-heading {
  font-size: 2.6rem;
  color: #ffffff;
  margin-top: 10px;
}

.test-head-right {
  width: 55%;
}

.t-companies {
  height: 40px;
  width: 350px;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 6px 0px 0px 0px;
  margin-bottom: 1.5rem;
}
.t-companies .t-com-imgs {
  text-align: center;
  align-items: center;
  margin: 0px 15px 0px 15px;
  cursor: pointer;
}

.t-r-mssg {
  color: #ffffffdc;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.testimonials-item {
  width: 1200px;
  display: flex;
  margin: auto;
}

.t-card {
  text-align: center;
  width: 590px;
  height: 240px;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 305px;
  padding: 20px 20px;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}
.t-card .t-card-imgs {
  height: 100px;
  width: 100px;
  border: 5px solid #003366;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 20px;
}
.t-card .t-card-p {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.t-card .t-card-h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
  color: #ff6600;
}

.t-card .t-card-h5 {
  font-size: 1.1rem;
  color: rgb(88, 88, 88);
  text-transform: capitalize;
}
/*responsive design*/
@media only screen and (max-width: 4100px) {
  .section-head {
    margin: auto;
    width: 1200px;
  }
}
@media only screen and (max-width: 1600px) {
  .section-head {
    width: 1150px;
  }
  .testimonials-item {
    width: 1150px;
  }
  .t-card {
    width: 560px;
    margin-left: 295px;
  }
}
@media only screen and (max-width: 1280px) {
  .testimonials {
    padding: 2rem;
  }
  .section-head {
    width: 1150px;
    margin: auto;
  }
  .test-head-right {
    width: 55%;
  }
  .testimonials-item {
    width: 1150px;
  }
  .t-card {
    width: 550px;
  }
}
@media only screen and (max-width: 1150px) {
  .testimonials {
    padding: 1rem;
  }
  .section-head {
    width: 1000px;
  }
  .testimonials-item {
    width: 1000px;
  }
  .t-card {
    width: 480px;
    height: 200px;
    margin-left: 250px;
  }
  .t-card .t-card-imgs {
    left: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-head {
    width: 980px;
  }
  .testimonials-item {
    width: 980px;
  }
}
@media only screen and (max-width: 835px) {
  .testimonials {
    margin: 0;
  }
  .section-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .test-head-left,
  .test-head-right {
    width: 100%;
  }
  .test-sub {
    margin: auto;
  }
  .t-companies {
    margin: 10px auto;
  }
  .testimonials-item {
    width: 700px;
  }
  .t-card {
    width: 340px;
    height: 300px;
    margin-left: 180px;
  }
  .t-card .t-card-imgs {
    height: 100px;
    width: 100px;
    top: -50px;
    left: 130px;
  }
  .t-card .t-card-h3 {
    margin-top: 40px;
  }
  .t-card .t-card-h5 {
    font-size: 0.9rem;
  }
  .t-card .t-card-p {
    font-size: 1.1rem;
    margin-top: 5px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 835px) {
  .testimonials-item {
    width: 600px;
  }
  .t-card {
    width: 290px;
    height: 350px;
    margin-left: 155px;
  }
}
@media only screen and (max-width: 429px) {
  .test-heading {
    font-size: 2.3rem;
  }
  .t-companies {
    display: none;
  }
  .testimonials-item {
    width: 720px;
    margin: auto;
    padding: 0;
  }
  .t-card {
    height: 260px;
    margin-left: 230px;
  }
  .t-card .t-card-imgs {
    height: 100px;
    width: 100px;
    top: -50px;
    left: 100px;
  }
  .t-card .t-card-h3 {
    margin-top: 40px;
    font-size: 1rem;
    padding: 0;
  }
  .t-card .t-card-h5 {
    font-size: 0.8rem;
  }
  .t-card .t-card-p {
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: start;
  }
}
@media only screen and (max-width: 391px) {
  .testimonials-item {
    width: 780px;
    margin: 0;
    padding: 0;
  }
  .t-card {
    width: 340px;
    height: 250px;
    margin-left: 205px;
    padding: 20px 10px 10px 10px;
  }
}
@media only screen and (max-width: 361px) {
  .testimonials-item {
    width: 740px;
    margin: 0;
    padding: 0;
  }
  .t-card {
    width: 280px;
    height: 250px;
    margin-left: 205px;
    padding: 20px 10px 10px 15px;
  }
}
