.what-container {
  overflow: hidden;
}
.what-we-do {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 7rem;
  overflow: hidden;
}
.what-we-do .WWb {
  width: 1200px;
  height: 600px;
  position: absolute;
}
.what-we-do-imgs {
  display: flex;
  filter: saturate(-1);
}
.what-we-do-imgs2 {
  display: flex;
  filter: saturate(-1);
  margin-bottom: -500px;
}
.tooltip {
  position: relative;
  background: rgba(187, 187, 187, 0.8);
  color: rgb(0, 0, 0);
  visibility: hidden;
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
  width: 420px;
  z-index: 1;
}
.tooltip h3 {
  color: #dd5326;
  font-size: 1.4rem;
}
.tooltip-arrow {
  position: absolute;
  top: 50%;
  right: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(187, 187, 187, 0.888) transparent transparent;
}
.tooltip-arrow-right {
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent rgba(187, 187, 187, 0.888);
}
.what-we-do-imgs .WW1 {
  position: relative;
  cursor: pointer;
  top: -140px;
  opacity: 40%;
  right: 40px;
}
.tooltip-WW1 {
  left: 78%;
  top: 12%;
}
.what-we-do-imgs .WW1:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}

.what-we-do-imgs .WW2 {
  position: relative;
  cursor: pointer;
  opacity: 40%;
  right: 100px;
  top: -140px;
}
.tooltip-WW2 {
  left: 50%;
  top: 10%;
}
.what-we-do-imgs .WW2:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}
.what-we-do-imgs .WW3 {
  position: relative;
  cursor: pointer;
  opacity: 40%;
  top: -200px;
  right: 150px;
}
.tooltip-WW3 {
  right: 120%;
}
.what-we-do-imgs .WW3:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}
.what-we-do-imgs2 .WW4 {
  position: relative;
  cursor: pointer;
  opacity: 40%;
  top: -380px;
  left: 60px;
}
.tooltip-WW4 {
  left: 75%;
  top: -50%;
}
.what-we-do-imgs2 .WW4:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}
.what-we-do-imgs2 .WW5 {
  position: relative;
  cursor: pointer;
  opacity: 40%;
  top: -400px;
  left: 80px;
}
.tooltip-WW5 {
  left: 90%;
  top: -45%;
}
.what-we-do-imgs2 .WW5:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}
.what-we-do-imgs2 .WW6 {
  position: relative;
  cursor: pointer;
  opacity: 40%;
  top: -480px;
  left: 100px;
}
.tooltip-WW6 {
  right: 60%;
  top: -55%;
}
.what-we-do-imgs2 .WW6:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 4100px) {
  .what-we-do {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1600px) {
  .what-we-do {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1280px) {
  .what-we-do {
    margin: auto;
    overflow: hidden;
  }
  .what-we-do .WWb {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .what-we-do {
    width: 100%;
    height: 500px;
  }
  .what-we-do .WWb {
    width: 100%;
    height: 400px;
  }
  .what-we-do-imgs .WW1 {
    height: 280px;
    top: -140px;
    right: 30px;
  }
  .tooltip-WW1 {
    left: 55%;
    top: 5%;
  }
  .what-we-do-imgs .WW2 {
    height: 280px;
    right: 180px;
    top: -120px;
  }
  .tooltip-WW2 {
    left: 15%;
    top: 10%;
  }
  .what-we-do-imgs .WW3 {
    height: 280px;
    top: -200px;
    right: 260px;
  }
  .tooltip-WW3 {
    right: 140%;
  }
  .what-we-do-imgs2 .WW4 {
    height: 200px;
    top: -340px;
    left: 40px;
  }
  .tooltip-WW4 {
    left: 65%;
    top: -40%;
  }
  .what-we-do-imgs2 .WW5 {
    height: 200px;
    top: -340px;
    left: -20px;
  }
  .tooltip-WW5 {
    left: 30%;
    top: -45%;
  }
  .what-we-do-imgs2 .WW6 {
    height: 200px;
    top: -420px;
    left: -80px;
  }
  .tooltip-WW6 {
    right: 120%;
    top: -65%;
  }
}
@media only screen and (max-width: 835px) {
  .what-we-do .WWb {
    display: none;
  }
  .tooltip-arrow {
    display: none;
  }
  .what-we-do {
    width: 100%;
    background-color: #ffffff;
    padding: 10rem 0rem 3rem 0rem;
    height: 100%;
  }
  .what-we-do-flex {
    display: flex;
    flex-direction: row;
  }
  .what-we-do-flex .what-we-do-imgs {
    display: grid;
    flex-direction: column;
  }
  .what-we-do-flex .what-we-do-imgs2 {
    display: grid;
    flex-direction: column;
  }
  .what-we-do-imgs .WW1 {
    opacity: 100%;
    left: 50px;
    top: -200px;
  }
  .tooltip-WW1 {
    top: 0;
    left: 350px;
  }
  .what-we-do-imgs .WW2 {
    opacity: 100%;
    top: -240px;
    right: -50px;
  }
  .tooltip-WW2 {
    top: -30px;
    left: 330px;
  }
  .what-we-do-imgs .WW3 {
    opacity: 100%;
    top: -220px;
    right: 0;
  }
  .tooltip-WW3 {
    top: -10px;
    left: 320px;
  }
  .what-we-do-imgs2 .WW4 {
    opacity: 100%;
    top: 10px;
    left: 100px;
  }
  .tooltip-WW4 {
    top: 170px;
    left: -370px;
    margin-right: -80px;
  }
  .what-we-do-imgs2 .WW5 {
    opacity: 100%;
    top: -140px;
    left: 100px;
  }
  .tooltip-WW5 {
    top: 40px;
    left: -370px;
    margin-right: -80px;
  }
  .what-we-do-imgs2 .WW6 {
    opacity: 100%;
    top: -220px;
    left: 100px;
  }
  .tooltip-WW6 {
    top: -60px;
    left: -370px;
    margin-right: -80px;
  }
  .tooltip {
    visibility: visible;
  }
  .what-we-do-imgs {
    margin-bottom: -100px;
  }
}
@media only screen and (max-width: 768px) {
  .what-we-do {
    width: 100%;
  }
  .what-we-do-imgs .WW1 {
    opacity: 100%;
    left: 0px;
    top: -200px;
  }
  .tooltip-WW1 {
    top: 0%;
    left: 250px;
  }
  .what-we-do-imgs .WW2 {
    opacity: 100%;
    top: -240px;
    right: 10px;
  }
  .tooltip-WW2 {
    top: -5%;
    left: 300px;
  }
  .what-we-do-imgs .WW3 {
    opacity: 100%;
    top: -240px;
    right: -20px;
  }
  .tooltip-WW3 {
    top: -12%;
    left: 300px;
  }
  .what-we-do-imgs2 .WW4 {
    opacity: 100%;
    top: 30px;
    left: 40px;
  }
  .tooltip-WW4 {
    top: 40%;
    left: -370px;
    margin-right: -80px;
  }
  .what-we-do-imgs2 .WW5 {
    opacity: 100%;
    top: -130px;
    left: 40px;
  }
  .tooltip-WW5 {
    top: 10%;
    left: -370px;
    margin-right: -80px;
  }
  .what-we-do-imgs2 .WW6 {
    opacity: 100%;
    top: -280px;
    left: 40px;
  }
  .tooltip-WW6 {
    top: -15%;
    left: -390px;
    margin-right: -80px;
  }
}
@media only screen and (max-width: 600px) {
  .what-we-do {
    width: 100%;
    margin: auto;
  }
  .tooltip {
    background-color: #c73200;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
  }
  .tooltip p {
    display: none;
  }
  .tooltip h3 {
    text-align: center;
    color: #ffffff;
  }
  .what-we-do-imgs2 .extraa {
    margin-left: -380px;
  }
  .what-we-do-imgs2 .extraa {
    margin-left: -320px;
  }
  .what-we-do-imgs .WW1 {
    left: 40px;
    top: -140px;
    margin: auto;
    width: 100%;
  }
  .tooltip-WW1 {
    top: 30%;
    left: 40px;
  }
  .what-we-do-imgs .WW2 {
    top: 0px;
    left: 40px;
  }
  .tooltip-WW2 {
    top: 80%;
    left: 40px;
  }
  .what-we-do-imgs .WW3 {
    top: 60%;
    left: 40px;
  }
  .tooltip-WW3 {
    top: 140%;
    left: 40px;
  }
  .what-we-do-imgs2 .WW4 {
    top: 120px;
    left: 80px;
  }
  .tooltip-WW4 {
    top: 80%;
    left: 40px;
  }
  .what-we-do-imgs2 .WW5 {
    top: 30%;
    left: 60px;
  }
  .tooltip-WW5 {
    top: 80%;
    left: 40px;
  }
  .what-we-do-imgs2 .WW6 {
    top: 200px;
    left: 80px;
  }
  .tooltip-WW6 {
    top: 95%;
    left: 40px;
  }
  .tooltip {
    visibility: visible;
  }
}
@media only screen and (max-width: 391px) {
  .what-we-do {
    padding: 220px 0px 540px 0px;
  }
}
@media only screen and (max-width: 361px) {
  .what-we-do {
    padding: 220px 0px 540px 0px;
  }
  .tooltip {
    width: 300px;
  }
}
