.about-container {
  padding: 4rem 0rem 3rem 0rem;
  overflow: hidden;
}
.about {
  display: flex;
  width: 100%;
  width: 100%;
  position: relative;
}
.about-right {
  width: 40%;
  padding-top: 120px;
}
.about-right-heading {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
.about-right-p {
  color: #ffffffdc;
  font-size: 1.2rem;
  padding-top: 10px;
}
.about-left-img {
  position: absolute;
  right: 260px;
}
.about-right-btn {
  height: 50px;
  width: 220px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  color: #ffffff;
  font-size: 1.1rem;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.425);
  margin-top: 40px;
}
.about-right-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.about-right-btn span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.about-right-btn:hover span {
  padding-right: 25px;
}

.about-right-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.about-left-img {
  width: 50%;
  z-index: 1;
}
.about-left::before {
  display: inline-block;
  position: absolute;
  content: "\25cf";
  color: #e14608;
  font-size: 140rem;
  top: -1110px;
  left: 510px;
}
.about-left::after {
  display: inline-block;
  position: absolute;
  content: "\25cf";
  color: #fff;
  font-size: 150rem;
  top: -1210px;
  left: 530px;
}
.about-us {
  display: flex;
  padding: 40px 0px 40px 0px;
  width: 100%;
}
.about-us-left {
  padding: 0px 40px 0px 0px;
}
.about-us-right {
  margin: 40px 0px 0px 40px;
}

.about-us-right-sub {
  font-size: 1.2rem;
  border-width: 2px;
  border-style: solid;
  width: 150px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.about-us-right-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.about-us-right-p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.675);
  letter-spacing: 0.2px;
  line-height: 25px;
}
.signature_of_ceo {
  visibility: hidden;
}
.about-memories {
  padding: 40px 0px 40px 0px;
  width: 100%;
}
.about-memories-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.about-memories-left-sub {
  font-size: 1.1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: 150px;
}
.about-memories-left-heading {
  color: #fff;
  font-size: 2.3rem;
  padding-top: 10px;
}
.about-memories-right {
  width: 80%;
  padding-top: 50px;
}
.about-p {
  font-size: 1.2rem;
  color: #ffffffb1;
  line-height: 30px;
}
.about-memo-img {
  align-items: center;
  text-align: center;
}
.about-memo-img img {
  margin: 5px;
  border-radius: 20px;
}
@media only screen and (max-width: 4100px) {
  .about,
  .about-us,
  .about-memories {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1600px) {
  .about,
  .about-us {
    width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 1280px) {
  .about {
    max-width: 95%;
  }
  .about-right {
    width: 50%;
    padding-top: 90px;
  }
  .about-left::before {
    left: 390px;
  }
  .about-left::after {
    left: 400px;
  }
  .about-us {
    display: flex;
    padding: 40px 40px 40px 40px;
    overflow: hidden;
    width: 1100px;
  }
  .about-us-left {
    padding: 0px 40px 0px 0px;
  }
  .about-memories {
    padding: 40px 40px 20px 40px;
  }
  .about-memo-img {
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  .about-memo-img img {
    margin: 10px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .about {
    max-width: 95%;
  }
  .about-right {
    width: 45%;
  }
  .about-left::before {
    left: 300px;
  }
  .about-left::after {
    left: 320px;
  }
  .about-left-img {
    z-index: 1;
    right: 300px;
  }
  .about-left-img-team {
    height: 400px;
    margin-top: 80px;
  }
  .about-us {
    display: flex;
    padding: 40px 180px 40px 20px;
  }
  .about-us-left {
    padding: 0;
  }
  .about-memories {
    padding: 40px 20px 20px 20px;
    overflow: hidden;
  }
  .about-us-right {
    margin: 10px 0px 0px 20px;
  }
  .about-memo-img img {
    margin: 5px;
    border-radius: 20px;
    width: 310px;
  }
}
@media only screen and (max-width: 835px) {
  .about {
    width: 100%;
  }
  .about-right {
    width: 45%;
    padding-top: 100px;
  }
  .about-right-heading {
    font-size: 2.6rem;
  }
  .about-right-p {
    font-size: 1.3rem;
  }
  .about-us-right-heading {
    font-size: 2.6rem;
  }
  .about-us-right-p {
    font-size: 1.2rem;
  }
  .about-left-img img {
    position: absolute;
    margin: 70px 0px 0px 0px;
  }
  .about-left::before {
    left: 150px;
  }
  .about-left::after {
    left: 160px;
  }
  .about-us {
    flex-direction: column-reverse;
    padding: 40px 20px 40px 20px;
  }
  .about-us-left {
    padding: 0;
    margin: auto;
  }
  .aboutus-img img {
    height: 650px;
  }
  .signature_of_ceo {
    visibility: visible;
  }
  .signature_of_ceo img {
    height: 240px;
    padding-left: 100px;
  }
  .about-us-right {
    margin: 0;
  }
  .about-memories {
    padding: 40px 20px 20px 20px;
  }
  .about-memories-right {
    padding-top: 0px;
  }
  .about-memo-img img {
    margin: 5px;
    border-radius: 15px;
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .about-left-img img {
    margin: 70px 0px 0px 0px;
  }
  .about-left-img {
    width: 40%;
  }
  .aboutus-img img {
    height: 550px;
  }
  .about-memo-img img {
    margin: 2px;
    border-radius: 15px;
    width: 235px;
  }
  .about-right {
    width: 50%;
  }
}

@media only screen and (max-width: 650px) {
  .about {
    padding: 0px 10px 60px 10px;
  }
  .about-right {
    text-align: center;
    width: 100%;
  }
  .about-left {
    visibility: hidden;
  }
  .about-us {
    padding: 40px 10px 40px 10px;
  }
  .signature_of_ceo img {
    height: 120px;
    padding-left: 40px;
  }
  .aboutus-img img {
    height: 400px;
  }
  .about-memories-head {
    flex-direction: column;
  }
  .about-memories-left-heading {
    font-size: 1.8rem;
  }
  .about-memories-right {
    width: 100%;
  }
  .about-memo-img img {
    width: 100%;
  }
}
/*.about {
  display: flex;
  max-width: 100%;
  padding: 120px 180px 125px 180px;
  position: relative;
  overflow: hidden;
}
.about-right {
  width: 40%;
  padding-top: 120px;
}
.about-right-heading {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
.about-right-p {
  color: #ffffffdc;
  font-size: 1.2rem;
  padding-top: 10px;
}
.about-left-img {
  position: absolute;
}
.about-right-btn {
  height: 50px;
  width: 220px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  color: #ffffff;
  font-size: 1.1rem;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.425);
  margin-top: 40px;
}
.about-right-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.about-right-btn span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.about-right-btn:hover span {
  padding-right: 25px;
}

.about-right-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.about-left-img {
  width: 50%;
  z-index: 1;
}
.about-left::before {
  display: inline-block;
  position: absolute;
  content: "\25cf";
  color: #e14608;
  font-size: 130rem;
  top: -995px;
  left: 520px;
}
.about-left::after {
  display: inline-block;
  position: absolute;
  content: "\25cf";
  color: #fff;
  font-size: 150rem;
  top: -1210px;
  left: 530px;
}
.about-us {
  display: flex;
  padding: 40px 180px 40px 180px;
}
.about-us-left {
  padding: 0px 80px 0px 0px;
}
.about-us-right {
  margin: 10px 0px 0px 40px;
}

.about-us-right-sub {
  font-size: 1.2rem;
  border-width: 2px;
  border-style: solid;
  width: 150px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.about-us-right-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.about-us-right-p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.675);
  letter-spacing: 0.2px;
  line-height: 25px;
}
.signature_of_ceo {
  visibility: hidden;
}
.about-memories {
  padding: 40px 180px 40px 180px;
}
.about-memories-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.about-memories-left-sub {
  font-size: 1.1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: 150px;
}
.about-memories-left-heading {
  color: #fff;
  font-size: 2.3rem;
  padding-top: 10px;
}
.about-memories-right {
  width: 80%;
  padding-top: 50px;
}
.about-p {
  font-size: 1.2rem;
  color: #ffffffb1;
  line-height: 30px;
}
.about-memo-img {
  align-items: center;
  text-align: center;
}
.about-memo-img img {
  margin: 5px;
  border-radius: 20px;
}
@media only screen and (max-width: 1280px) {
  .about {
    max-width: 100%;
    padding: 120px 40px 70px 60px;
  }
  .about-right {
    width: 35%;
    padding-top: 90px;
  }
  .about-left::before {
    left: 400px;
  }
  .about-left::after {
    left: 400px;
  }
  .about-us {
    display: flex;
    padding: 40px 40px 40px 40px;
  }
  .about-us-left {
    padding: 0px 40px 0px 0px;
  }
  .about-memories {
    padding: 40px 40px 20px 40px;
  }
  .about-memo-img {
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  .about-memo-img img {
    margin: 10px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .about {
    max-width: 100%;
    padding: 60px 20px 70px 40px;
  }
  .about-right {
    width: 40%;
  }
  .about-left::before {
    left: 300px;
  }
  .about-left::after {
    left: 320px;
  }
  .about-left-img {
    z-index: 1;
  }
  .about-left-img-team {
    height: 350px;
    margin-top: 150px;
  }
  .about-us {
    display: flex;
    padding: 40px 180px 40px 20px;
  }
  .about-us-left {
    padding: 0;
  }
  .about-memories {
    padding: 40px 20px 20px 20px;
  }
  .about-us-right {
    margin: 10px 0px 0px 20px;
  }
  .about-memo-img img {
    margin: 5px;
    border-radius: 20px;
    width: 310px;
  }
}
@media only screen and (max-width: 835px) {
  .about {
    padding: 20px 20px 100px 40px;
  }
  .about-right {
    width: 60%;
    padding-top: 160px;
  }
  .about-right-heading {
    font-size: 2.6rem;
  }
  .about-right-p {
    font-size: 1.3rem;
  }
  .about-us-right-heading {
    font-size: 2.6rem;
  }
  .about-us-right-p {
    font-size: 1.2rem;
  }
  .about-left-img img {
    position: absolute;
    margin: 150px 0px 0px -60px;
  }
  .about-left::before {
    left: 340px;
  }
  .about-left::after {
    left: 340px;
  }
  .about-us {
    flex-direction: column-reverse;
    padding: 40px 20px 40px 20px;
  }
  .about-us-left {
    padding: 0;
    margin: auto;
  }
  .aboutus-img img {
    height: 650px;
  }
  .signature_of_ceo {
    visibility: visible;
  }
  .signature_of_ceo img {
    height: 240px;
    padding-left: 100px;
  }
  .about-us-right {
    margin: 0;
  }
  .about-memories {
    padding: 40px 20px 20px 20px;
  }
  .about-memories-right {
    padding-top: 0px;
  }
  .about-memo-img img {
    margin: 5px;
    border-radius: 15px;
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 20px 20px 100px 20px;
  }
  .about-left-img img {
    margin: 180px 0px 0px -60px;
  }
  .aboutus-img img {
    height: 550px;
  }
  .about-memo-img img {
    margin: 2px;
    border-radius: 15px;
    width: 235px;
  }
}
@media only screen and (max-width: 428px) {
  .about {
    padding: 0px 10px 60px 10px;
  }
  .about-right {
    text-align: center;
    width: 100%;
  }
  .about-left {
    visibility: hidden;
  }
  .about-us {
    padding: 40px 10px 40px 10px;
  }
  .signature_of_ceo img {
    height: 120px;
    padding-left: 40px;
  }
  .aboutus-img img {
    height: 400px;
  }
  .about-memories-head {
    flex-direction: column;
  }
  .about-memories-left-heading {
    font-size: 1.8rem;
  }
  .about-memories-right {
    width: 100%;
  }
  .about-memo-img img {
    width: 100%;
  }
}*/
